<!doctype html>
<html>
    
    <head>
        <title>Budgeter</title>
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="Styles\Site.css">
        <link rel="stylesheet" href="Styles\ng-notify.min.css">
        <base href="/">
        <!--Angular-->
        <script src="Scripts\Angular\angular.min.js"></script>
        <script src="Scripts\Angular\angular-route.min.js"></script>
        <script src="Scripts\Angular\angular-cookies.min.js"></script>
        <script src="Scripts\Angular\angular-animate.min.js"></script>
        <!--3rd party Dependencies-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
        <script src="Scripts\3rdParty\angular-notify.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
        <!--Utilities-->
        <script src="Scripts\Utilities.js"></script>
        <!--Services-->
        <script src="Scripts\Services\SessionService.js"></script>
        <script src="Scripts\Services\apiFormatSvc.js"></script>
        <script src="Scripts\Services\forecastParamSvc.js"></script>
        <script src="Scripts\Factories\transactionMgr.js"></script>
        <script src="Scripts\Factories\transactionValueMgr.js"></script>
        <script src="Scripts\Services\listOptionsDataSvc.js"></script>
        <!--Factories-->
        <script src="Scripts\Factories\AuthFactory.js"></script>
        <script src="Scripts\Factories\ForecastMgr.js"></script>
        <!--Controllers-->
        <script src="Scripts\Controllers\Authcontroller.js"></script>
        <!--Directives-->
        <script src="Scripts\Directives\forecastControls.js"></script>
        <script src="Scripts\Directives\headlineItem.js"></script>
        <script src="Scripts\Directives\stackedbar.js"></script>
        <script src="Scripts\Directives\transactionList.js"></script>
        <script src="Scripts\Directives\transaction.js"></script>
        <script src="Scripts\Directives\transactionEditor.js"></script>
        <script src="Scripts\Directives\transactionValueList.js"></script>
        <script src="Scripts\Directives\transactionValue.js"></script>
        <script src="Scripts\Directives\transactionValueEditor.js"></script>
        <!--App-->
        <script src="Scripts\Budgeter.js"></script>
    </head>
    
    <body data-ng-app="budgeter">
        <!--Header-->
        <header class="NavBar clearfix" ng-show="!loggedIn()" data-ng-controller="AuthController as authCtrl" />
        <div class="titlebar"></div>
        <div class="loginpanel">
            <button ng-show="!authCtrl.loggedIn()" ng-click="authCtrl.openModal()">Sign In</button>
            <button ng-show="authCtrl.loggedIn()" ng-click="authCtrl.logOut()">Sign Out</button>
        </div>
        </header>
        <main>
            <!--FORECAST-->
            <div id="forecast" class="forecast col-lg-8">
            <forecast-controls></forecast-controls>
            </div>
            <!-- Transactions table -->
            <aside id="transactionlist" class="col-lg-4 transactionlistcontainer">
                <transaction-list class="list-group transactionlist"></transaction-list>
            </aside>
        </main>
    </body>

</html>