<!doctype html>
<html ng-app="budgeter">
    <head>
        <title> Budgeter </title>
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="bower_components\bootstrap\dist\css\bootstrap.min.css">
        <link rel="stylesheet" href="Styles\Site.css">
        <link rel="stylesheet" href="bower_components\ng-notifications-bar\dist\ngNotificationsBar.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <base href="/">
        <!--Angular-->
        <script src="Scripts\Angular\angular.min.js"></script>
        <script src="Scripts\Angular\angular-route.min.js"></script>
        <script src="Scripts\Angular\angular-cookies.min.js"></script>
        <script src="Scripts\Angular\angular-animate.min.js"></script>
        <!--3rd party Dependencies-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
        <script src="bower_components\ng-notifications-bar\dist\ngNotificationsBar.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
        
        
        <!--Services-->
        <script src="Scripts\Services\SessionService.js"></script>
        <!--Factories-->
        <script src="Scripts\Factories\ForecastMgr.js"></script>
        <script src="Scripts\Factories\AuthFactory.js"></script>
        <!--Controllers-->
        <script src="Scripts\Controllers\Authcontroller.js"></script>
        <!--Directives-->
        <script src="Scripts\Directives\stackedbar.js"></script>
        <!--App-->
        <script src="Scripts\Budgeter.js"></script>

        <!--Controllers-->

    </head>
    <body>
        <!--Header-->
        <header class="NavBar clearfix" ng-show="!loggedIn()" data-ng-controller="AuthController as authCtrl"/>
          <div class="loginpanel">
              <a href="" ng-show="!authCtrl.loggedIn()" ng-click="authCtrl.openModal()">Sign In</a>
              <a href="" ng-show="authCtrl.loggedIn()" ng-click="authCtrl.logOut()">Sign Out</a>
          </div>
        </header>
        
        <div notifications-bar class="notifications"></div>
        
        <main>
            <!--FORECAST-->
          <section id="forecast" class="forecast col-lg-8">
              <forecast-controls></forecast-controls>
          </section>
    
          <!-- Transactions table -->
          <section class="col-lg-4 transactionlistcontainer">
                  <transaction-list class="list-group transactionlist"> </transaction-list>
          </section>
        </main>
    </body>

</html>
