<!doctype html>
<html>   
    <head>
        <title>Budgeter</title>
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="Styles\bootstrap.min.css">
        <link rel="stylesheet" href="Styles\Site.css">
        <link rel="stylesheet" href="Styles\ng-notify.min.css">
        <base href="/">
        <!--Angular-->
        <script src="Scripts\Angular\angular.min.js"></script>
        <script src="Scripts\Angular\angular-route.min.js"></script>
        <script src="Scripts\Angular\angular-cookies.min.js"></script>
        <script src="Scripts\Angular\angular-animate.min.js"></script>
        <!--3rd party Dependencies-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
        <script src="Scripts\3rdParty\angular-notify.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
        <!--App-->
        <script src="Release\app.js"></script>        
    </head>
    
    <body data-ng-app="budgeter">
        <!--Header-->
        <nav class="navbar navbar-default" ng-show="!loggedIn()" data-ng-controller="AuthController as authCtrl" />
            <div class="container-fluid">
                <div class="titlebar"></div>
                <div class="loginpanel nav navbar-nav navbar-right">
                    <button ng-show="!authCtrl.loggedIn()" ng-click="authCtrl.openModal()">Sign In</button>
                    <button ng-show="authCtrl.loggedIn()" ng-click="authCtrl.logOut()">Sign Out</button>
                </div>
            </div>
        </nav>
        <main>
            <!--FORECAST-->
            <div id="forecast" class="forecast col-lg-8">
            <forecast-controls></forecast-controls>
            </div>
            <!-- Transactions table -->
            <aside id="transactionlist standard-box-shadow" class="col-lg-4 transactionlistcontainer">
                <transaction-list class="list-group transactionlist"></transaction-list>
            </aside>
        </main>
    </body>

</html>