<li class="transactionvalue list-group-item clearfix">
	<div class="transactionValue clearfix row">
		<div class="col-xs-2">{{::tvCtrl.tv.Start_date | date:"shortDate": "UTC"}}</div>
		<div class="col-xs-2">{{::tvCtrl.tv.FrequencyDescription}}</div>
		<div class="col-xs-1">{{::tvCtrl.tv.Day}}</div>
		<div class="col-xs-2">{{::tvCtrl.tv.End_date | date:"shortDate": "UTC"}}</div>
		<div class="col-xs-2">{{::tvCtrl.tv.Value | currency:"$" }}</div>
		<div class="col-xs-1">
			<i class="glyphicon glyphicon-pencil" ng-click="tvCtrl.edit()"></i>
		</div>
		<div class="col-xs-1">
			<i class="glyphicon glyphicon-trash" ng-click="tvCtrl.delete()"></i>
		</div>
		<input type="checkbox" ng-model="tvCtrl.tv.include" ng-click="tvCtrl.toggleInclude()"></input>
	</div>
</li>