<tr class="transactionvalue tvlistitem">
	<td class="tvlistcell">{{::tvCtrl.tv.Start_date | date:"shortDate": "UTC"}}</td>
	<td class="tvlistcell">{{::tvCtrl.tv.FrequencyDescription}}</td>
	<td class="tvlistcell">{{::tvCtrl.tv.Day}}</td>
	<td class="tvlistcell">{{::tvCtrl.tv.End_date | date:"shortDate": "UTC"}}</td>
	<td class="tvlistcell">{{::tvCtrl.tv.Value | currency:"$" }}</td>
	<td class="actionbutton" ng-click="tvCtrl.edit()">edit</td>
	<td class="actionbutton" ng-click="tvCtrl.delete()">delete</td>
	<td>
		<input type="checkbox" ng-model="tvCtrl.tv.include" ng-click="tvCtrl.toggleInclude()"></input>
	</td>
</tr>