<div>
    <div class="form-small">
        <h4>Add new transaction</h4>
        <div class="formfield">
            <label for="newitemName">Name</label>
            <input class="input-xs-flat" type="text" ng-model="transEditCtrl.trans.Name" placeholder="name" />
        </div>
        <div class="formfield">
            <label for="newitemDescription">Type</label>
            <select class="input-xs-flat" type="text" ng-options="type.ID as type.Description for type in ::transEditCtrl.types"
            placeholder="type" ng-model="transEditCtrl.trans.TypeID"></select>
        </div>
        <div class="formfield">
            <label for="newitemAmount">Amount</label>
            <input class="input-xs-flat" type="number" step=10 ng-model="transEditCtrl.trans.TransactionValues[0].Value"
            placeholder="amount" />
        </div>
        <div class="formfield">
            <label for="newitemFreq">Occurs</label>
            <select class="input-xs-flat" type="text" ng-options="freq.ID as freq.Description for freq in ::transEditCtrl.frequencies"
            placeholder="frequency" ng-model="transEditCtrl.trans.TransactionValues[0].FrequencyID"></select>
        </div>
        <div class="formfield">
            <label for="newitemDay">On Day</label>
            <input class="input-xs-flat" type="number" step=1 max="30" ng-model="transEditCtrl.trans.TransactionValues[0].Day"
            placeholder="day" />
        </div>
        <div class="formfield">
            <label for="newitemStart">Start Date</label>
            <input class="input-xs-flat" type="date" ng-model="transEditCtrl.trans.TransactionValues[0].Start_date"/>
        </div>
        <div class="formfield">
            <label for="newitemStart">End Date</label>
            <input class="input-xs-flat" type="date" ng-model="transEditCtrl.trans.TransactionValues[0].End_date" />
        </div>
        <div class="newTransactionControls" style="float:right; padding:5px;">
            <i class="glyphicon glyphicon-ok" ng-click="transEditCtrl.submit()"></i>
            <i class="glyphicon glyphicon-remove" ng-click="transEditCtrl.cancel()"></i>
        </div>
    </div>
</div>