<div class="form-inline">
    <div>
        <label for="startdate">Start Date</label>
        <input class="input-xs-flat" type="date" data-ng-model="tvEditCtrl.tv.Start_date">
    </div>
    <div>
        <label for="startdate">Occurs</label>
        <select class="input-xs-flat" type="text" ng-options="freq.ID as freq.Description for freq in tvEditCtrl.frequencies"
        data-ng-model="tvEditCtrl.tv.FrequencyID"></select>
    </div>
    <div>
        <label for="day">On day</label>
        <input class="input-xs-flat" type="number" min=1 data-ng-model="tvEditCtrl.tv.Day">
    </div>
    <div>
        <label for="Value">Value</label>
        <input class="input-xs-flat" type="number" step=100 data-ng-model="tvEditCtrl.tv.Value">
    </div>
    <div>
        <label for="End_date">End date</label>
        <input class="input-xs-flat" type="date" data-ng-model="tvEditCtrl.tv.End_date">
    </div>
    <div class="controlpanel" style="float: right; padding: 5px;">
        <button class="btn btn-xs btn-danger" ng-click="tvEditCtrl.cancel()">Cancel</button>
        <button class="btn btn-xs btn-success" ng-click="tvEditCtrl.submit()">Save</button>
    </div>
</div>