<ul class="transactionlist">
	<span>Payments and deductions</span>
	<transaction ng-repeat="t in tListCtrl.transactions" ng-show="tListCtrl.isVisible($index)" class="transaction" liststate="tListCtrl.listState"
	index="$index" trans="t" deletefn="tListCtrl.delete"></transaction>
	<div class="transaction newitem">
		<div class="transactioncompact">
			<span>Create new item</span>
			<div class="transactioncontrols">
				<span class="actionbutton" ng-click="tListCtrl.toggleAddForm()">&ctdot;</span>
			</div>
		</div>
	</div>
	<transaction-editor class="transaction list-group-item clearfix" trans="tListCtrl.listState.transactionToEdit" ng-if="tListCtrl.listState.addMode"
	liststate="tListCtrl.listState" list="tListCtrl.transactions"></transaction-editor>
</ul>