<div>
    <!--TRANSACTION VALUES-->
    <table class="transactionvaluelist" ng-if="!tvListCtrl.listState.addEdit">
        <thead class="transactionvalueheader tvlistrow">
            <tr class="tvlistheader">
                <td class="tvlistcell">Starts</td>
                <td class="tvlistcell">Occurs</td>
                <td class="tvlistcell">Day</td>
                <td class="tvlistcell">Ends</td>
                <td class="tvlistcell">Value</td>
            </tr>
        </thead>
        <tbody>
            <!--TRANSACTION VALUES -->
            <tr transaction-value class="transactionvalue tvlistrow" liststate="tvListCtrl.listState" ng-if="!tvListCtrl.listState.addEdit"
            ng-repeat="tv in ::tvListCtrl.transactionValues" tv="tv"></tr>
            <tr>
                <td class="transactionvalue actionbutton tvlistrow" ng-click="tvListCtrl.addNew()">Add another</td>
            </tr>
        </tbody>
    </table>
    <div transaction-value-editor class="transactionValueEditor tvlistitem" ng-if="tvListCtrl.listState.addEdit" transaction-id="transCtrl.trans.ID"
    list-state="tvListCtrl.listState"></div>
</div>