<ul class="transactionlist list-group">
	<li class="list-group-item transactionstitle sectionheader clearfix">
		<div class="sectiontitle">
			<span>Recurring transactions</span>
			<i style="float:right;" class="fa fa-plus fa-2x hvr-pop" ng-show="!tListCtrl.listState.addMode"
			ng-click="tListCtrl.expandAddForm()"></i>
		</div>
		<form transaction-editor ng-if="tListCtrl.listState.addMode" listmgr="tListCtrl.listState" </form>
	</li>
	<transaction ng-repeat="trans in tListCtrl.transactions" ng-show="tListCtrl.isVisible($index)" class="transaction list-group-item clearfix"
	tListState="tListCtrl.listState" index="$index" trans="trans" deletefn="tListCtrl.delete"></transaction>
</ul>